<html>
    <head>
        <title>Pamela's' blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Pamela Kalemera Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>This is working well.</p>
        </div>

        <div>
            <p>published: 18.03.2017</p>
            <h2><a href="">My second post</a></h2>
            <p>This is working very very well.</p>
        </div>
    </body>
</html>